section.feedback
  .feedback__container.container.container--w760
    .feedback__box.container.container--w570
      h2.section-title.feedback__header.section-title--lowercase Оставить отзыв
      .feedback__form
        include ../sections/form

