.flack
  .flack__container.container.container--w220
    .flack__info
      | Помимо перечисленных услуг, мы предоставляем консультации профессиональных диетологов, тренеров, психологов. Также есть кабинет массажа, зал спа рядом с бассейном и возможность арендовать центр для проведения массовых мероприятий.
      = " "
      a.flack__link(href="#") Ждем ваших заявок!