-
  var comments = [
    {
      time: "12.10.2016",
      title: "Алексей Воронов",
      text: "Пришел, чтобы похудеть немного к лету, но благодаря тренеру Александру Ковалеву, получилось накачать нормальные банки. Втянулся, теперь занимаюсь регулярно, 2 раза в неделю, доволен и всем советую. Кстати, польза от тренировок намного заметнее, если придерживаться ПП. Рацион мне составили на неделю, но я его повторяю, не надоедает.",
      iconPath: "comment1.jpg"
    },
    {
      time: "01.02.2016",
      title: "Инна Смольная",
      text: "Подарили на день рождения абонемент в бассейн, пришлось воспользоваться. Сама бы я сюда не пришла, не очень нравится плавать с мужиками, которые пялятся постоянно, администрации следует обратить внимание на этот вопрос! Еще бросилось в глаза хамство обслуживающего персонала. Уборщица в раздевалке вела себя, как будто это к ней в гости пришли.",
      iconPath: "comment2.jpg"
    },
    {
      time: "22.12.2015",
      title: "Владимир Савельев",
      text: "Норм клуб, железа хватает, но техника устаревшая. За эту цену – прокатит. Если хотите большего, то обращайтесь в специализированные тренажерки с новым железом и европейской техникой.",
      iconPath: ""
    },
    {
      time: "14.08.2015",
      title: "Ирина Савина",
      text: "Занимаюсь 4й месяц на петлях ТРХ и очень нравится результат. Даже знакомые отметили, что я помолодела, появилась талия, ножки постройнели. Нагрузка сначала была непривычная, но втягиваешься быстро, тем более, что отражение в зеркале радует. Цены приятные, а если платить на полгода вперед, то вообще выгодно получается, скидка почти 30%.",
      iconPath: "comment4.jpg"
    },
  ]