-
  var features = [
    {
      title: "уникальность",
      text: "Мы делаем все для вашего комфорта",
      list: [
        "Питание включено",
        "Багаж (5 кг)",
        "Душ/баня"
      ],
      iconModifier: "flower"
    },
    {
      title: "премиум-класс",
      text: "Наш зал оборудован тренажёрами A-класса",
      list: [
        "Качество",
        "Продуктивность",
        "Результат"
      ],
      iconModifier: "star"
    },
    {
      title: "личный тренер",
      text: "Тренер сделает всё для вашего результата",
      list: [
        "Программа",
        "Питание",
        "План тренеровок"
      ],
      iconModifier: "palette"
    }
  ]