-
  var menu = [
    {
      link: "./afrodita.html",
      name: "Главная",
      modifier: "main",
    },
    {
      link: "./comments.html",
      name: "Отзывы",
      modifier: "comments",
    },
    {
      link: "./services.html",
      name: "Услуги",
      modifier: "services"
    }
  ]