-
  var news = [
    {
      time: "12.10.2016",
      title: "Похудение с помощью бодибилдинга!",
      text: "Вдыхание одного литра кислорода эквивалентно «сжиганию» 5 калорий, однако в минуту при самом высоком темпе движений атлет способен вдохнуть не более 3-4 литров кислорода. Это крайне важно для каждого начинающего атлета.",
      iconPath: "news1.jpg"
    },
    {
      time: "01.02.2016",
      title: "Заражай друзей, получай призы!",
      text: "Дополнительно для Вас: пользование сауной и предоставление средств личной гигиены, пользование баром, таблица замеров, дружеская атмосфера и постоянная поддержка. Мы запотимся о вашем комфорте и предлагаем испытать это уже сегодня!",
      iconPath: "news2.jpg"
    },
    {
      time: "22.12.2015",
      title: "Фрилансер? Выпрями спину!",
      text: "Создайте рабочее место под себя. Вот этот инструмент поможет определить, что подходит именно вам и вашему организму. Используйте специальную подставку для ноутбука, если вы проводите за ним больше 2 часов. Настройте высоту и яркость монитора!",
      iconPath: "news3.jpg"
    }
  ]