-
  var partners = [
    {
      imgPath: "partners1.png",
      title: "Фламинго спа салон",
    },
    {
      imgPath: "partners2.png",
      title: "Malibu",
    },
    {
      imgPath: "partners3.png",
      title: "Lion",
    },
    {
      imgPath: "partners4.png",
      title: "Arni спортивный клуб",
    },
    {
      imgPath: "partners5.png",
      title: "Гриф магазин инвенторя",
    },
    {
      imgPath: "partners6.png",
      title: "Атлетика",
    }
  ]