-
  var topNews = [
    {
      imgPath: "aside1.jpg",
      title: "News1"
    },
    {
      imgPath: "aside2.jpg",
      title: "News2"
    },
    {
      imgPath: "aside3.jpg",
      title: "News3"
    }
  ]