.review__header {
  margin-bottom: 30px;
}

.review__pagination {
  display: flex;
  justify-content: center;
  font-family: "Roboto", Arial, sans-serif;
}

.review__photo-list {
  margin-bottom: 8px;
}